MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key
PORT=3000

PUSHER_APP_ID=1982067
PUSHER_KEY=06feaf595c32d14f5ea2
PUSHER_SECRET=38c0ae6f563416c4f55b
PUSHER_CLUSTER=ap2

CLOUDINARY_CLOUD_NAME=Alzo
CLOUDINARY_API_KEY=551942454324183
CLOUDINARY_API_SECRET=ohz79Vbtw4a97gYRBm4tcAHYQ_U
